<div id="<%= dom_id profile %>">
  <p>
    <strong>Fname:</strong>
    <%= profile.fname %>
  </p>

  <p>
    <strong>Lname:</strong>
    <%= profile.lname %>
  </p>

  <p>
    <strong>Phoneno:</strong>
    <%= profile.phoneno %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= profile.address %>
  </p>

</div>
